<%- include('partials/_header') %>

<section class="page-section cta">
  <div class="container">
    <div class="col-xl-9 mx-auto">
      <div class="cta-inner text-center rounded">
        <h1><span class="site-heading-lower">Carrito de Compras</span></h1>
        <hr />
        <div class="my-5">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acción</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
              <tr id="footer-carrito">
                <th scope="row" colspan="5">Carrito vacío</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="cta-inner text-center rounded">
        <h1><span class="site-heading-lower">Lista de Productos </span></h1>
        <hr />
        <h3>Cafés</h3>
        <hr />
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% if (data) { %> <% for(var i = 0; i < data.length; i++) { var
          path="images/"+data[i].idCategoria+"menu.jpg" var num =
          data[i].precio; num = (Math.round(num * 100) / 100).toFixed(2) var
          categoria=data[i].idCategoria; if(categoria==1){ %>

          <div class="col">
            <div class="card border-0 bacground">
              <img src="<%=path%>" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title" id="nombre">
                  <%= data[i].nombreProducto%>
                </h5>
                <span class="ml-auto">Precio Q.<%=num%> </span>
                <button
                  onclick="addRow('<%= data[i].idProducto%>','<%= data[i].nombreProducto%>','<%= data[i].precio%>');"
                  class="btn btn-primary btn-x5 btn-add"
                >
                  Añadir al carrito
                </button>
              </div>
            </div>
          </div>

          <% }} %> <% } %>
        </div>
        <hr />
        <h3>Pasteles</h3>
        <hr />
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% if (data) { %> <% for(var i = 0; i < data.length; i++) { var
          path="images/"+data[i].idCategoria+"menu.jpg" var num =
          data[i].precio; num = (Math.round(num * 100) / 100).toFixed(2) var
          categoria=data[i].idCategoria; if(categoria==2){ %>

          <div class="col">
            <div class="card border-0 bacground">
              <img src="<%=path%>" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title"><%= data[i].nombreProducto%></h5>
                <span class="ml-auto">Precio Q.<%=num%> </span>
                <button
                  onclick="addRow('<%= data[i].idProducto%>','<%= data[i].nombreProducto%>','<%= data[i].precio%>' );"
                  class="btn btn-primary btn-x5 btn-add"
                >
                  Añadir al carrito
                </button>
              </div>
            </div>
          </div>

          <% }} %> <% } %>
        </div>
        <hr />
        <h3>Bebidas Frias</h3>
        <hr />
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% if (data) { %> <% for(var i = 0; i < data.length; i++) { var
          path="images/"+data[i].idCategoria+"menu.jpg" var num =
          data[i].precio; num = (Math.round(num * 100) / 100).toFixed(2) var
          categoria=data[i].idCategoria; if(categoria==3){ %>

          <div class="col">
            <div class="card border-0 bacground">
              <img src="<%=path%>" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title"><%= data[i].nombreProducto%></h5>
                <span class="ml-auto">Precio Q.<%=num%> </span>
                <button
                  onclick="addRow('<%= data[i].idProducto%>','<%= data[i].nombreProducto%>','<%= data[i].precio%>' );"
                  class="btn btn-primary btn-x5 btn-add"
                >
                  Añadir al carrito
                </button>
              </div>
            </div>
          </div>

          <% }} %> <% } %>
        </div>
        <hr />
        <h3>Bebidas Calientes</h3>
        <hr />
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% if (data) { %> <% for(var i = 0; i < data.length; i++) { var
          path="images/"+data[i].idCategoria+"menu.jpg" var num =
          data[i].precio; num = (Math.round(num * 100) / 100).toFixed(2) var
          categoria=data[i].idCategoria; if(categoria==4){ %>

          <div class="col">
            <div class="card border-0 bacground">
              <img src="<%=path%>" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title"><%= data[i].nombreProducto%></h5>
                <span class="ml-auto">Precio Q.<%=num%> </span>
                <button
                  onclick="addRow('<%= data[i].idProducto%>','<%= data[i].nombreProducto%>','<%= data[i].precio%>' );"
                  class="btn btn-primary btn-x5 btn-add"
                >
                  Añadir al carrito
                </button>
              </div>
            </div>
          </div>

          <% }} %> <% } %>
        </div>
        <hr />
        <h3>Platos Fuertes</h3>
        <hr />
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% if (data) { %> <% for(var i = 0; i < data.length; i++) { var
          path="images/"+data[i].idCategoria+"menu.jpg" var num =
          data[i].precio; num = (Math.round(num * 100) / 100).toFixed(2) var
          categoria=data[i].idCategoria; if(categoria==5){ %>

          <div class="col">
            <div class="card border-0 bacground">
              <img src="<%=path%>" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title"><%= data[i].nombreProducto%></h5>
                <span class="ml-auto">Precio Q.<%=num%> </span>
                <button
                  onclick="addRow('<%= data[i].idProducto%>','<%= data[i].nombreProducto%>','<%= data[i].precio%>' );"
                  class="btn btn-primary btn-x5 btn-add"
                >
                  Añadir al carrito
                </button>
              </div>
            </div>
          </div>

          <% }} %> <% } %>
        </div>
        <hr />
        <h3>Extras</h3>
        <hr />
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% if (data) { %> <% for(var i = 0; i < data.length; i++) { var
          path="images/"+data[i].idCategoria+"menu.jpg" var num =
          data[i].precio; num = (Math.round(num * 100) / 100).toFixed(2) var
          categoria=data[i].idCategoria; if(categoria==6){ %>

          <div class="col">
            <div class="card border-0 bacground">
              <img src="<%=path%>" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title"><%= data[i].nombreProducto%></h5>
                <span class="ml-auto">Precio Q.<%=num%> </span>
                <button
                  onclick="addRow('<%= data[i].idProducto%>','<%= data[i].nombreProducto%>','<%= data[i].precio%>' );"
                  class="btn btn-primary btn-x5 btn-add"
                >
                  Añadir al carrito
                </button>
              </div>
            </div>
          </div>

          <% }} %> <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"
></script>
<%- include('partials/_footer') %>
